<app-headers vt_title="Iniciar sesion"> </app-headers>

<ion-content>
  <div class="d-flex-center">
    <form action="" class="auth-form">
      
      <app-logo></app-logo>

      <app-login-input vt_auto_complete="email" type="email" vt_label="Correo" vt_icon="mail-outline">
      </app-login-input>

      <div class="validators"></div>
      
      <app-login-input
      type="password" vt_label="Contraseña" vt_icon="lock-closed-outline">
    </app-login-input>

      <div class="validators"></div>

      <p>¿Solicitar cambio de contraseña?</p>

      <ion-button class="ion-margin-top" expand="block" mode="ios" fill="outline">
        Iniciar sesion
      </ion-button>
    </form>
  </div>
</ion-content>