<app-headers [vb_isModal]="true" title="Agregar"></app-headers>

<ion-content  class="content">
  <div class="logo-container">
    <ion-avatar class="logo-avatar" *ngIf="form.value.ct_id_img">
      <img [src]="form.value.ct_id_img" />
    </ion-avatar>
    <ion-icon
      class="img-icon"
      *ngIf="!form.value.ct_id_img"
      name="image-outline"
    ></ion-icon>
    
  </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="ion-padding ion-text-center" class="auth-form" (keypress.enter)="submit()">

      <!-- ------------------------Boton para agregar imagen-------------------------- -->


      <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
        tomar/seleccionar foto
      </ion-button>

      <!-- -----------------------Titulo---------------------------------- -->
      <app-login-input 
      vt_auto_complete="ct_titulo"
      vt_type="text"
      vt_label="Titulo"
      [control]="form.controls.ct_titulo"
      >
      </app-login-input>

      <div class="validators" *ngIf="form.controls.ct_titulo.errors && form.controls.ct_titulo.touched">
        <div *ngIf="form.controls.ct_titulo.errors?.['required']">Es necesari un titulo para el incidente</div>
      </div>


      <!-- -----------------------Descripcion---------------------------------- -->
      <app-login-input 
      vt_auto_complete="ct_descripcion"
      vt_type="text"
      vt_label="Descripción"
      [control]="form.controls.ct_descripcion"
      >
      </app-login-input>

      <div class="validators" *ngIf="form.controls.ct_descripcion.errors && form.controls.ct_descripcion.touched">
        <div *ngIf="form.controls.ct_descripcion.errors?.['required']">Es necesaria una descripcion del incidente</div>
      </div>

      <!-- -----------------------lugar---------------------------------- -->
      <app-login-input 
      vt_auto_complete="ct_lugar"
      vt_type="text"
      vt_label="Lugar"
      [control]="form.controls.ct_lugar"
      >
      </app-login-input>

      <div class="validators" *ngIf="form.controls.ct_lugar.errors && form.controls.ct_lugar.touched">
        <div *ngIf="form.controls.ct_lugar.errors?.['required']">Es necesario el lugar del incidente</div>
      </div>
      
      <!-- -----------------------imagen---------------------------------- -->

      

      <!-- -----------------------Boton---------------------------------- -->
      <ion-button class="submit" type="submit" mode="ios" [disabled]="form.invalid">
        Agregar incidencia
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button>

    </form>

  
</ion-content>