
ion-item-option.custom-green {
    --background: #1BA72C;
    color: white; 
}
  
  ion-icon.a-icon::before {
    content: 'A'; 
    font-family: Arial, sans-serif;
    font-size: 24px; 
    font-weight: bold;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-green {
    --background: green;
    --background-activated: #006400; /* Un tono más oscuro de verde para el estado activado */
    --color: white; /* Color del texto o del icono */
  }
  