<app-headers [vb_show_menu]="true" vt_title="Bitácoras"></app-headers>

<ion-content class="content">

  <ion-item style="margin-top: 15px;" lines="none" class="custom-item">
    <ion-label class="custom-label">Reporte</ion-label>
    <ion-select placeholder="Selecciona una opción" class="custom-select" [(ngModel)]="selectedOption">
      <ion-select-option value="cambioEstado">
        <strong>Cambio de estado</strong>
      </ion-select-option>
      <ion-select-option value="general">
        <strong>General</strong>
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de Bitácoras Cambio de Estado -->
  <ion-list *ngIf="selectedOption === 'cambioEstado'">
    <ion-item *ngFor="let bitacora of bitacoraCE" class="custom-item">
      <ion-label>
        <div class="name"><strong>Nombre:</strong>{{ bitacora.cn_id_usuario }}</div>
        <div class="data">
          <strong>Incidencia:</strong> {{ bitacora.cn_id_incidencia }}<br>
          <strong>Fecha y hora:</strong> {{ bitacora.ct_fecha_hora| date:'short' }}<br>
          <strong>Estado actual:</strong> {{ bitacora.estado_actual }}<br>
          <strong>Nuevo estado:</strong> {{ bitacora.nuevo_estado }}<br>

        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="selectedOption === 'general'">
    <ion-item *ngFor="let bitacora of bitacoraG" class="custom-item">
      <ion-label>
        <div class="name"><strong>Nombre:</strong>{{ bitacora.cn_id_usuario }}</div>
        <div class="data">
          <strong>Fecha y hora:</strong> {{ bitacora.ct_fecha_hora| date:'short' }}<br>
          <strong>Acción:</strong> {{ bitacora.accion }}<br>
          <strong>Pantalla:</strong> {{ bitacora.pantalla }}<br>

        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="selectedOption === ''">
    <div class="empty">
    <ion-icon name="sunny"></ion-icon>
    <h3>Selecciona una opción</h3>
  </div>
  </ion-list>

</ion-content>
