<app-headers [vb_show_menu]="true" vt_title="Bitácoras">
</app-headers>

<ion-content class="content">

  <ion-item style="margin-top: 15px;" lines="none" class="custom-item">
    <ion-label class="custom-label">Reporte</ion-label>
    <ion-select placeholder="Selecciona una opción" class="custom-select">
      <ion-select-option value="cambioEstado">
        <strong>Cambio de estado</strong>
      </ion-select-option>
      <ion-select-option  value="general">
        <strong>General</strong>
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <div class="empty">
    <ion-icon name="sunny"></ion-icon>
    <h3>Bitácoras</h3>
  </div> -->

  <div>
    <ion-item class="custom-item">
      <ion-label>
        <div class="name">Incidencias asignadas</div>
        <div class="data">
          <strong>Usuario:</strong> Mauricio<br>
          <strong>Fecha y hora:</strong> "6/21/2024, 9:57:26 PM"<br>
          <strong>Acción:</strong>Revisión de incidencia<br>
        </div>
      </ion-label>
    </ion-item>
  
    <ion-item class="custom-item">
      <ion-label>
        <div class="name">Registrar Incidencia</div>
        <div class="data">
          <strong>Usuario:</strong> Mauricio<br>
          <strong>Fecha y hora:</strong> "6/22/2024, 10:11:36 AM"<br>
          <strong>Acción:</strong>Revisión de incidencia<br>
        </div>
      </ion-label>
    </ion-item>
  
    <ion-item class="custom-item">
      <ion-label>
        <div class="name">Incidencias asignadas</div>
        <div class="data">
          <strong>Usuario:</strong> Fio<br>
          <strong>Fecha y hora:</strong> "6/21/2024, 10:09:28 PM"<br>
          <strong>Acción:</strong>Diagnostico de incidencia<br>
        </div>
      </ion-label>
    </ion-item>
  </div>
  
</ion-content>