<app-headers [vb_show_menu]="true" vt_title="Incidencias asignadas">
</app-headers>

<ion-content>
  <!-- ------------------------Para refrescar pantalla --------------------------------->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar  placeholder="Buscar"></ion-searchbar>

  <!-- Si no está cargando el loading van a aparecer todos los datos -->
  <ion-list *ngIf="!loading">
    <!-- Para mostrar todos los item -->
    <ion-item-sliding
      class="product-item"
      *ngFor="let incidencia of incidencia"
    >
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="incidencia.ct_id_img" alt="" />
        </ion-avatar>
        <ion-label>
          <div class="name">{{incidencia.ct_titulo}}</div>
          <div class="data">
            <strong>Lugar:</strong>{{incidencia.ct_lugar}}
            <strong>Descripcion:</strong>{{incidencia.ct_descripcion}}
            <strong>Fecha y hora:</strong>{{incidencia.cf_fecha_hora}}
            <strong *ngIf="incidencia.cn_id_estado == 2">Estado: Pendiente</strong>
            <strong *ngIf="incidencia.cn_id_estado == 3">Estado: En revisión</strong>
            <strong *ngIf="incidencia.cn_id_prioridad == 1">Prioridad: Baja</strong>
            <strong *ngIf="incidencia.cn_id_prioridad == 2">Prioridad: Medio</strong>
            <strong *ngIf="incidencia.cn_id_prioridad == 3">Prioridad: alto</strong>

          </div>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <!-- boton para asignar incidencia -->
         
        <ion-item-option 
        *ngIf="!showBtn && incidencia.cn_id_estado < 3" 
        (click)="setEstadoEnRevision(incidencia)" 
        class="custom-orange"
      >
      <ion-icon name="alert-circle" slot="icon-only"></ion-icon>
    </ion-item-option>
      
        
        <ion-item-option
          *ngIf="!btnTerminaIncidencia && incidencia.cn_id_estado === 6"
          (click)="addDiagnostico(null, incidencia)"
          class="custom-blue"
        >
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>

         </ion-item-option>

         <ion-item-option 
         *ngIf="incidencia.cn_id_estado === 3"
         (click)="terminaIncidencia(incidencia)"
         class="custom-green"
       >
       <ion-icon name="checkmark" slot="icon-only"></ion-icon>

        </ion-item-option>

         <ion-item-option (click)="infoCompleta(incidencia)"  class="custom-green">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- -------------------------Para cuando los datos están cargando (es solo una animacion) ------------------->
  <ion-list *ngIf="loading">
    <!-- Para mostrar todos los item -->
    <ion-item-sliding
      class="product-item"
      *ngFor="let incidencia of [1,1,1,1,1,1,1]"
    >
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text
            animated
            style="width: 100%; height: 100%"
          ></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!-- ---------------------------------------- Para cuandno no hay incidencias   ------------------------ -->

  <div class="empty" *ngIf="!loading && !incidencia.length">
    <ion-icon name="sunny"></ion-icon>
    <h3>No hay incidencias asignadas</h3>
  </div>
</ion-content>
